/*@import "./app/variables.css";*/
/*@import "./primevue/variables.css";*/
@import "tailwindcss";
/*@import "./tailwind/theme.css";*/

:root {
    /* ====================================
     * Typography
     * ==================================== */
    --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    /* ====================================
     * Base Colors
     * ==================================== */
    /* https://www.tints.dev/primary/4E7FD2 */
    --primary-color-50: #EFF3FB;
    --primary-color-100: #DAE4F6;
    --primary-color-200: #BACDED;
    --primary-color-300: #95B2E4;
    --primary-color-400: #7198DB;
    --primary-color-500: #4E7FD2;
    --primary-color-600: #2E61B7;
    --primary-color-700: #23498A;
    --primary-color-800: #18315E;
    --primary-color-900: #0B182D;
    --primary-color-950: #060D18;
    /* https://www.tints.dev/secondary/62A6BC */
    --secondary-color-50: #F1F7F9;
    --secondary-color-100: #DFEDF1;
    --secondary-color-200: #BFDAE4;
    --secondary-color-300: #A2CAD7;
    --secondary-color-400: #82B8CA;
    --secondary-color-500: #62A6BC;
    --secondary-color-600: #458AA1;
    --secondary-color-700: #34687A;
    --secondary-color-800: #22434F;
    --secondary-color-900: #112227;
    --secondary-color-950: #091215;
    /* https://www.tints.dev/surface/64748B */
    --surface-color-0: #fff;
    --surface-color-50: #f0f2f4;
    --surface-color-100: #dee2e8;
    --surface-color-200: #c1c8d2;
    --surface-color-300: #a0abbb;
    --surface-color-400: #8291a5;
    --surface-color-500: #64748b;
    --surface-color-600: #515e71;
    --surface-color-700: #3c4553;
    --surface-color-800: #292f38;
    --surface-color-900: #13161b;
    --surface-color-950: #0b0c0f;

    /* ====================================
     * State Colors
     * ==================================== */
    /* https://www.tints.dev/?red=E94949&blue=3B82F6&error=E94949&success=55AE79&info=3B82F6&warn=EBB55A */
    --error-color-50: #F39B9B;
    --error-color-100: #F29292;
    --error-color-200: #F08080;
    --error-color-300: #ED6D6D;
    --error-color-400: #EB5B5B;
    --error-color-500: #E94949;
    --error-color-600: #E52525;
    --error-color-700: #C81818;
    --error-color-800: #A41414;
    --error-color-900: #7F0F0F;
    --error-color-950: #6D0D0D;
    --warn-color-50: #F3D39B;
    --warn-color-100: #F2D196;
    --warn-color-200: #F0C984;
    --warn-color-300: #EEC277;
    --warn-color-400: #EDBC69;
    --warn-color-500: #EBB55A;
    --warn-color-600: #E6A432;
    --warn-color-700: #D18E19;
    --warn-color-800: #A87214;
    --warn-color-900: #845910;
    --warn-color-950: #6D4A0D;
    --success-color-50: #B0D9C0;
    --success-color-100: #A5D4B8;
    --success-color-200: #90CAA8;
    --success-color-300: #7CC097;
    --success-color-400: #6AB88A;
    --success-color-500: #55AE79;
    --success-color-600: #4A9B6B;
    --success-color-700: #3F835A;
    --success-color-800: #356F4C;
    --success-color-900: #2B5A3E;
    --success-color-950: #264F36;
}

/* https://primevue.org/tailwind/#extensions */
/* https://github.com/primefaces/tailwindcss-primeui/blob/main/src/index.js */
:root {
    --p-content-border-color: var(--p-surface-200);
    --p-content-hover-background: var(--p-surface-100);
    --p-content-hover-color: black;
    --p-highlight-background: var(--p-primary-50);
    --p-highlight-color: var(--p-primary-700);
    --p-highlight-focus-background: var(--p-primary-100);
    --p-highlight-focus-color: var(--p-primary-800);
    --p-content-border-radius: 0.25rem;
    --p-text-color: var(--p-surface-900);
    --p-text-hover-color: var(--p-surface-800);
    --p-text-muted-color: var(--p-surface-500);
    --p-text-hover-muted-color: var(--p-surface-600);

    --p-primary-color: var(--primary-color-500);
    --p-primary-hover-color: var(--primary-color-600);
    --p-primary-active-color: var(--primary-color-700);
    --p-primary-contrast-color: #ffffff;

    --p-primary-50: var(--primary-color-50);
    --p-primary-100: var(--primary-color-100);
    --p-primary-200: var(--primary-color-200);
    --p-primary-300: var(--primary-color-300);
    --p-primary-400: var(--primary-color-400);
    --p-primary-500: var(--primary-color-500);
    --p-primary-600: var(--primary-color-600);
    --p-primary-700: var(--primary-color-700);
    --p-primary-800: var(--primary-color-800);
    --p-primary-900: var(--primary-color-900);
    --p-primary-950: var(--primary-color-950);

    --p-surface-0: var(--surface-color-0);
    --p-surface-50: var(--surface-color-50);
    --p-surface-100: var(--surface-color-100);
    --p-surface-200: var(--surface-color-200);
    --p-surface-300: var(--surface-color-300);
    --p-surface-400: var(--surface-color-400);
    --p-surface-500: var(--surface-color-500);
    --p-surface-600: var(--surface-color-600);
    --p-surface-700: var(--surface-color-700);
    --p-surface-800: var(--surface-color-800);
    --p-surface-900: var(--surface-color-900);
    --p-surface-950: var(--surface-color-950);
}

/*
Map CSS variables to Tailwind utility classes
https://tailwindcss.com/docs/theme
*/
@theme {
    /* ====================================
     * Typography
     * ==================================== */
    --font-sans: var(--font-sans);
    --font-serif: var(--font-serif);
    --font-mono: var(--font-mono);

    /* ====================================
     * Colors
     * ==================================== */
    /*
    Reset all colors once confident it will not affect styling
    @see https://tailwindcss.com/docs/theme#overriding-the-default-theme
    */
    /*--color-*: initial;*/

    /*
    Required colors by PrimeVue
    @see https://github.com/primefaces/tailwindcss-primeui/blob/main/src/theme.js
    */
    --color-primary: var(--p-primary-color);
    --color-primary-emphasis: var(--p-primary-hover-color);
    --color-primary-emphasis-alt: var(--p-primary-active-color);
    --color-primary-contrast: var(--p-primary-contrast-color);

    --color-primary-50: var(--primary-color-50);
    --color-primary-100: var(--primary-color-100);
    --color-primary-200: var(--primary-color-200);
    --color-primary-300: var(--primary-color-300);
    --color-primary-400: var(--primary-color-400);
    --color-primary-500: var(--primary-color-500);
    --color-primary-600: var(--primary-color-600);
    --color-primary-700: var(--primary-color-700);
    --color-primary-800: var(--primary-color-800);
    --color-primary-900: var(--primary-color-900);
    --color-primary-950: var(--primary-color-950);

    --color-surface-0: var(--surface-color-0);
    --color-surface-50: var(--surface-color-50);
    --color-surface-100: var(--surface-color-100);
    --color-surface-200: var(--surface-color-200);
    --color-surface-300: var(--surface-color-300);
    --color-surface-400: var(--surface-color-400);
    --color-surface-500: var(--surface-color-500);
    --color-surface-600: var(--surface-color-600);
    --color-surface-700: var(--surface-color-700);
    --color-surface-800: var(--surface-color-800);
    --color-surface-900: var(--surface-color-900);
    --color-surface-950: var(--surface-color-950);
}


/* https://tailwindcss.com/docs/dark-mode#toggling-dark-mode-manually */
@custom-variant dark (&:where(.dark, .dark *));

@utility border-surface {
    border-color: var(--p-content-border-color)
}
@utility bg-emphasis {
    background: var(--p-content-hover-background);
    color: var(--p-content-hover-color);
}
@utility bg-highlight {
    background: var(--p-highlight-background);
    color: var(--p-highlight-color);
}
@utility bg-highlight-emphasis {
    background: var(--p-highlight-focus-background);
    color: var(--p-highlight-focus-color)
}
@utility rounded-border {
    border-radius: var(--p-content-border-radius)
}
@utility text-color {
    color: var(--p-text-color)
}
@utility text-color-emphasis {
    color: var(--p-text-hover-color)
}
@utility text-muted-color {
    color: var(--p-text-muted-color)
}
@utility text-muted-color-emphasis {
    color: var(--p-text-hover-muted-color)
}

html {
    font-family: system-ui, sans-serif;
}

body {
    margin: 0;
}
