/*
Map CSS variables to Tailwind utility classes
https://tailwindcss.com/docs/theme
*/
@theme {
    /* ====================================
     * Typography
     * ==================================== */
    --font-sans: var(--font-sans);
    --font-serif: var(--font-serif);
    --font-mono: var(--font-mono);

    /* ====================================
     * Colors
     * ==================================== */
    /*
    Reset all colors once confident it will not affect styling
    @see https://tailwindcss.com/docs/theme#overriding-the-default-theme
    */
    /*--color-*: initial;*/

    /*
    Required colors by PrimeVue
    @see https://github.com/primefaces/tailwindcss-primeui/blob/main/src/theme.js
    */
    --color-primary: var(--p-primary-color);
    --color-primary-emphasis: var(--p-primary-hover-color);
    --color-primary-emphasis-alt: var(--p-primary-active-color);
    --color-primary-contrast: var(--p-primary-contrast-color);

    --color-accent-50: var(--color-accent-50);
    --color-accent-100: var(--color-accent-100);
    --color-accent-200: var(--color-accent-200);
    --color-accent-300: var(--color-accent-300);
    --color-accent-400: var(--color-accent-400);
    --color-accent-500: var(--color-accent-500);
    --color-accent-600: var(--color-accent-600);
    --color-accent-700: var(--color-accent-700);
    --color-accent-800: var(--color-accent-800);
    --color-accent-900: var(--color-accent-900);
    --color-accent-950: var(--color-accent-950);
    
    --color-primary-50: var(--color-primary-50);
    --color-primary-100: var(--color-primary-100);
    --color-primary-200: var(--color-primary-200);
    --color-primary-300: var(--color-primary-300);
    --color-primary-400: var(--color-primary-400);
    --color-primary-500: var(--color-primary-500);
    --color-primary-600: var(--color-primary-600);
    --color-primary-700: var(--color-primary-700);
    --color-primary-800: var(--color-primary-800);
    --color-primary-900: var(--color-primary-900);
    --color-primary-950: var(--color-primary-950);

    --color-secondary-50: var(--color-secondary-50);
    --color-secondary-100: var(--color-secondary-100);
    --color-secondary-200: var(--color-secondary-200);
    --color-secondary-300: var(--color-secondary-300);
    --color-secondary-400: var(--color-secondary-400);
    --color-secondary-500: var(--color-secondary-500);
    --color-secondary-600: var(--color-secondary-600);
    --color-secondary-700: var(--color-secondary-700);
    --color-secondary-800: var(--color-secondary-800);
    --color-secondary-900: var(--color-secondary-900);
    --color-secondary-950: var(--color-secondary-950);

    --color-error-50: var(--color-error-50);
    --color-error-100: var(--color-error-100);
    --color-error-200: var(--color-error-200);
    --color-error-300: var(--color-error-300);
    --color-error-400: var(--color-error-400);
    --color-error-500: var(--color-error-500);
    --color-error-600: var(--color-error-600);
    --color-error-700: var(--color-error-700);
    --color-error-800: var(--color-error-800);
    --color-error-900: var(--color-error-900);
    --color-error-950: var(--color-error-950);

    --color-warning-50: var(--color-warning-50);
    --color-warning-100: var(--color-warning-100);
    --color-warning-200: var(--color-warning-200);
    --color-warning-300: var(--color-warning-300);
    --color-warning-400: var(--color-warning-400);
    --color-warning-500: var(--color-warning-500);
    --color-warning-600: var(--color-warning-600);
    --color-warning-700: var(--color-warning-700);
    --color-warning-800: var(--color-warning-800);
    --color-warning-900: var(--color-warning-900);
    --color-warning-950: var(--color-warning-950);

    --color-success-50: var(--color-success-50);
    --color-success-100: var(--color-success-100);
    --color-success-200: var(--color-success-200);
    --color-success-300: var(--color-success-300);
    --color-success-400: var(--color-success-400);
    --color-success-500: var(--color-success-500);
    --color-success-600: var(--color-success-600);
    --color-success-700: var(--color-success-700);
    --color-success-800: var(--color-success-800);
    --color-success-900: var(--color-success-900);
    --color-success-950: var(--color-success-950);

    --color-info-50: var(--color-info-50);
    --color-info-100: var(--color-info-100);
    --color-info-200: var(--color-info-200);
    --color-info-300: var(--color-info-300);
    --color-info-400: var(--color-info-400);
    --color-info-500: var(--color-info-500);
    --color-info-600: var(--color-info-600);
    --color-info-700: var(--color-info-700);
    --color-info-800: var(--color-info-800);
    --color-info-900: var(--color-info-900);
    --color-info-950: var(--color-info-950);

    --color-surface-0: var(--color-surface-0);
    --color-surface-50: var(--color-surface-50);
    --color-surface-100: var(--color-surface-100);
    --color-surface-200: var(--color-surface-200);
    --color-surface-300: var(--color-surface-300);
    --color-surface-400: var(--color-surface-400);
    --color-surface-500: var(--color-surface-500);
    --color-surface-600: var(--color-surface-600);
    --color-surface-700: var(--color-surface-700);
    --color-surface-800: var(--color-surface-800);
    --color-surface-900: var(--color-surface-900);
    --color-surface-950: var(--color-surface-950);
}
